<!-- wrapper home -->
<div id="home">

	<div id="currently-playing" data-track-id="{{id}}" class="clearfix">

		<!-- info track wrapper -->
		<div id="info-track-wrapper">
			<div id="info-track">
				<ul>
					<li>{{title}}</li>
					<li>{{artist}}</li>
					<li>{{album}}</li>
					<li>{{length}}</li>
				</ul>
			</div>
		</div>

		<!-- dj wrapper -->
		<div id="dj-wrapper" v-on="click: jumpToSite('settings')">
			<div class="dj-image {{djImageStateClassOne}}" v-style="background-image: 'url(' + imageOne + ')';"></div>
			<div class="dj-image {{djImageStateClassTwo}}" v-style="background-image: 'url(' + imageTwo + ')';"></div>
			<div class="dj-image info {{djImageInfoStateClass}}">{{djImageInfo}}</div>
		</div>
		
		<!-- system info wrapper -->
		<div id="system-info-wrapper">
			<div id="downvote-button" class="{{downvoteActiveStateClass}} {{downvoteDisabledStateClass}}" v-on="click: downvoteTrack(id)">
				<img src="images/downvote.svg" alt="">
			</div>
			<div id="downvote-response-message" class="{{downvoteResponseMessageStateClass}}">{{downvoteResponseMessage}}</div>
			<div id="system-info-text">
				<img src="images/battery.svg" alt="">
				<img src="images/internet_access.svg" alt=""> {{internetAccess}}
				<img src="images/users.svg" alt=""> {{users}}
			</div>
		</div>

	</div>

	<div id="playlist-wrapper" class="clearfix">
		<ul>
			<li id="{{playlistStatus}}" v-repeat="playlist" class="playlist">

				<div class="line-wrapper">
					<div class="line-clickfield" v-on="click: setPlaylistLine(this)"></div>
					<div class="progressbar"></div>
					<div class="line-text">{{$index + 1}}.</div>
					<div class="line-title hide {{displayUploadClass}}" v-if="!t_id">{{trackTitle}}</div>
					<div class="line-title" v-if="t_id">{{t_title}}</div>
				</div>

				<div class="playlist-button-wrapper {{displaySwapUpClass}} {{displaySwapDownClass}}">
					<div class="playlist-button delete-button" v-if="t_id" v-on="click: deleteUserTrack(this, t_id)">
						<img src="images/delete.svg" alt="">
					</div>	
					<div class="playlist-button swapup-button" v-if="t_id" v-on="click: swapUserTrack(($index + 1), 'up', this)">
						<img src="images/switch.svg" alt="">
					</div>
					<div class="playlist-button swapdown-button" v-if="t_id" v-on="click: swapUserTrack(($index + 1), 'down', this)">
						<img src="images/switch_down.svg" alt="">
					</div>
				</div>
				
				<div id="upload-wrapper" class="empty-field {{displayUploadClass}}" v-if="!t_id">
					<input type="file" id="upload-file-field" class="hide">
					<div id="trigger-upload-file" class="playlist-button browse-button {{triggerUploadFileStateClass}}" v-on="click: triggerFileBrowser">
						<img src="images/browse.svg" alt="">
					</div>

					<div id="upload-control-wrapper" class="{{uploadFileControlWrapperStateClass}}">
						<div id="cancel-upload-file" class="playlist-button cancel-button">
							<img src="images/delete.svg" alt="">
						</div>
						<div id="upload-file" class="playlist-button upload-button">
							<img src="images/upload.svg" alt="">
						</div>
					</div>
				</div>
			</li>
		</ul>
		
		<!-- upload wrapper single file -->	
		

	</div>

</div>