<!-- wrapper home -->
<div id="home">

	<div id="currently-playing" data-track-id="{{id}}">

		<!-- left side -->
		<div id="left">
		{{title}}<br>
		{{artist}}<br>
		{{album}}<br>
		{{length}}<br>
		</div>
		<!-- left side END -->

		<!-- right side -->
		<div id="right">
			<div id="dj-image" v-style="background-image: 'url(' + image + ')';"></div>
		</div>
		<!-- right side END -->
	</div>

	<ul>
	    <li v-repeat="playlist">
	        {{$index}} - {{track.id}} {{track.title}}
	    </li>
	</ul>

</div>
<!-- wrapper home END