<!-- wrapper settings -->
<div id="settings">

	<b>{{langSettings}}</b><br>
	route: {{route}}<br>
	image path:  <img src="{{userImageUrl}}" width="100"/><br><br><br>

	<!-- upload wrapper single file -->	
	<div id="upload-wrapper">
		<input type="file" id="upload-file-field" class="hide">
		<button id="trigger-upload-file" class="{{triggerUploadFileStateClass}}" v-on="click: triggerFileBrowser">select file</button>

		<div id="upload-control-wrapper" class="{{uploadFileControlWrapperStateClass}}">
			<button id="upload-file">upload file</button>
			<button id="cancel-upload-file">cancel</button>
		</div>
		
		<div id="file-control-wrapper" class="{{fileControlStateClass}}">
			<button id="upload-file" v-on="click: removeFile()">remove file</button>
		</div>
		
	
	</div>
	<!-- upload wrapper single file END -->

	<!-- upload progress state wrapper -->
	<div id="progress-wrapper" class="{{uploadProgressWrapperStateClass}}">
		{{uploadProgressImageMessage}}, {{uploadProgressValue}}
	</div>
	<!-- upload progress state wrapper END -->

	<button id="set-internet-access" v-on="click: setInternetAccess">{{internetAccess}}</button>

	<br/>
	Downvote Level: {{downvoteLevel}}
	<br/>
	<button id="set-downvote-level" v-on="click: setDownvoteLevel(25)">Level "25"</button>
	<button id="set-downvote-level" v-on="click: setDownvoteLevel(50)">Level "50"</button>
	<button id="set-downvote-level" v-on="click: setDownvoteLevel(75)">Level "75"</button>

</div>
<!-- wrapper settings END -->
