// -------------------------------------
//  MIXINS
// -------------------------------------
@mixin transition($property:all, $duration:0.5s, $timing:ease-in){
    -webkit-transition: $property $duration $timing;
    -moz-transition: $property $duration $timing;
    -ms-transition: $property $duration $timing;
    -o-transition: $property $duration $timing;
    transition: $property $duration $timing;
}

@mixin translate3d($x:30px, $y:0, $z:0){
    -webkit-transform:translate3d($x, $y, $z);
    -moz-transform:translate3d($x, $y, $z);
    -ms-transform:translate3d($x, $y, $z);
    -o-transform:translate3d($x, $y, $z);
    transform:translate3d($x, $y, $z);
}

@mixin skewedBorder($direction:right, $valueDirection:-10px, $zIndex:-1, $width:300px, $color:$mainColorDark){
    &:before{
        content: "";
        position: absolute;
        background: $color;
        z-index: $zIndex; 
        top:0;
        @if $direction == "right" {
            right: $valueDirection;
            width: $width;
        } @else if $direction == "left" {
            left: $valueDirection;
            width: $width;
        }
        bottom: 0;
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
        transform: skew(-20deg);
    }
}

// -------------------------------------
//  FONTS
// -------------------------------------
@font-face {
    font-family: 'ubuntubold';
    src: url('fonts/ubuntu-b-webfont.eot');
    src: url('fonts/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-b-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-b-webfont.woff') format('woff'),
         url('fonts/ubuntu-b-webfont.ttf') format('truetype'),
         url('fonts/ubuntu-b-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubunturegular';
    src: url('fonts/ubuntu-r-webfont.eot');
    src: url('fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-r-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-r-webfont.woff') format('woff'),
         url('fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium';
    src: url('fonts/ubuntu-m-webfont.eot');
    src: url('fonts/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-m-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-m-webfont.woff') format('woff'),
         url('fonts/ubuntu-m-webfont.ttf') format('truetype'),
         url('fonts/ubuntu-m-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

// -------------------------------------
//  COLORS
// -------------------------------------
$white: #ffffff;
$mainColorDark: #009bb2;  // dark cyan
$mainColorLight: #33afc1;  // light cyan
$bgColor: #17404d; // background
$btnColorLight: #ffda46; // orange light
$btnColorMiddle: #ffcc00; // orange light
$btnColorDark: #ffa200; // orange light
$btnDownvoteDisabled: #405b64;
$iconSystemInfo: #637f88;
$downvoteMessage: #ffffff;
$playlistText: #17404d;
$playlistLine1: #009bb2;
$playlistLine2: #1aa5ba;
$playlistLine3: #33afc1;
$playlistLine4: #4db9c9;
$playlistLine5: #59becd;


// -------------------------------------
//  scale units
// -------------------------------------
$regularLineHeight: 53px;
$btnHeight: 53px;
$btnMinHeight: 53px;
$btnWidth: 40px;
$btnMinWidth: 40px  ;

// -------------------------------------
//  DEFAULT STYLES
// -------------------------------------
* {
    padding: 0;
    margin: 0;
}

[v-cloak] { 
    display: none;
}

.clear{
    padding: 0;
    margin: 0;
    display: initial;
    float: initial;
}

// -------------------------------------
//  CLEARFIX
// -------------------------------------

.clearfix {
    display: inline-block;
    &:after{
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}

// -------------------------------------
//  SITE CHANGES
// -------------------------------------

.view {
    position: absolute;
    opacity: 1;
    @include transition(opacity, 0.3s, ease-in);
}

.v-enter {
    opacity: 0;
    // @include translate3d(30px, 0, 0);
}

.v-leave {
    opacity: 0;
    // @include translate3d(-30px, 0, 0);
}

// -------------------------------------
//  TOUR GUIDE STYLES
// -------------------------------------

.tour-guide-highlight-element{
    position: relative;
    z-index: 100000;
}

#app{
    &.night{

        #tour-guide-overlay{
            position: fixed;
            z-index: 99999;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $bgColor;
            display: none;
            overflow: auto;

            #tour-guide-title{
                position: absolute;
                left: 15px;
                top: 15px;
                color: $white;
                max-width: 80vw;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            #tour-guide-close{
                position: absolute;
                right: 15px;
                top: 15px;
                color: $white;
            }

            #tour-guide-info{
                position: absolute;
                top: 50px;
                left: 15px;
                right: 15px;
                background: blue;
                overflow-x: none;
                overflow-y: auto;
            }

            #tour-guide-next{
                position: absolute;
                right: 15px;
                bottom: 15px;
                color: $white;
            }

            #tour-guide-prev{
                position: absolute;
                left: 15px;
                bottom: 15px;
                color: $white;
            }

            #tour-guide-pagination{
                position: absolute;
                left: 35vw;
                right: 35vw;
                bottom: 15px;
                max-width: 30vw;
                overflow: hidden;
                text-align: center;
                color: $white;
            }


        }
        // must be excluded
        // --> otherwise the hint could not be point over 
        //     the element which should be highlighted
        #tour-guide-hint{
            position: absolute;
            color: $white;
            display: none;
            z-index: 100001;
            img{
                height: 120px;
            }
        }


    }
}
// -------------------------------------

// -------------------------------------
//  CUSTOM STYLES
// -------------------------------------

body{
    background-color: $bgColor;
    font-family: 'ubuntumedium', Arial, sans-serif;
    font-size: 14px;

    // default structure
    #app{
        &.night{

            position: fixed;
            top: 0;
            bottom: 0;
            overflow-y: auto;
            overflow-x: hidden;
            right: 0;
            left: 0;
            width: 100vw;

            //  initalize app
            // -------------------------------------
            #inital-loader-wrapper{
                position: fixed; // uncomment if app is production ready
                z-index: 9999;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $bgColor;
                color: $white;
                #inital-loader{
                    text-align: center;
                    width: 200px;
                    height: 100px;
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    margin-left: -100px;
                }
                &.fadeOut{
                    @include transition(all, 0.6s, linear);
                    visibility: hidden;
                    opacity: 0;
                }
            }

            //  navigation
            // -------------------------------------
            ul#navigation{
                list-style-type: none;
                height: $btnHeight;
                background-color: $btnColorLight;
                li{
                    float: left;
                    background-color: $btnColorMiddle;
                    position: relative;
                    height: $btnHeight;
                    line-height: $btnHeight;
                    a {
                        position: absolute;
                        z-index: 1;

                        img {
                            float: left;
                            height: 26px;
                            padding: 14px 10px 0 5px;
                            position: absolute;
                            left: 0;
                        }

                        span {
                            font-family: 'ubuntubold', Arial, sans-serif;
                            font-size: 18px;
                            position: absolute;
                            left: 45px;
                            color: $bgColor;
                        }
                    }
                    
                    &.active{
                        @include transition(width , 0.3s, linear); 
                        width: 42.5vw;
                        background-color: $mainColorDark;
                        @include skewedBorder(left, -10px, 0, 20px, $mainColorDark); // = direction, directionValue, zIndex, width, color
                        padding-right: 71px;
                        span{
                            &.icon-info{
                                opacity: 1;
                            }
                        }
                    }
                    &.inactive{
                        @include transition(width , 0.3s, linear); 
                        width: 35px;
                        padding-right: 20px;
                        span{
                            &.icon-info{
                                opacity: 0;
                            }
                        }
                    }
                    &:nth-child(2){
                        &.inactive{
                            background-color: $btnColorMiddle;
                            @include skewedBorder(left, -10px, 1, 20px, $btnColorMiddle); // = direction, directionValue, zIndex, width, color
                            &.second{
                                background-color: $btnColorLight;
                                @include skewedBorder(left, -10px, 1, 20px, $btnColorLight); // = direction, directionValue, zIndex, width, color  
                            }
                        }
                    }
                    &:nth-child(3){
                        &.inactive{
                            background-color: $btnColorLight;
                            @include skewedBorder(left, -10px, 1, 20px, $btnColorLight); // = direction, directionValue, zIndex, width, color
                        }
                    }
                }
                &.last{
                    background-color: $mainColorDark;
                }
            }

            //  home site
            // -------------------------------------
            #home{
                width: 100%;
                #currently-playing{
                    display: block;
                    width: 100vw;
                    margin-bottom: 52px;
                    #info-track-wrapper, #dj-wrapper{
                        min-height: 130px;
                        max-height: 200px;
                        height: 20vh;
                        float: left;
                        position: relative;

                    }
                    #info-track-wrapper{
                        width: 42.5vw;
                        background-color: $mainColorLight;
                        @include skewedBorder(right, -27px, 3, 90px, $mainColorLight); // = direction, directionValue, zIndex, width, color
                        #info-track{
                            position: absolute;
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            z-index: 3;
                            margin: 16px;
                            color: $white;

                            ul {
                                list-style-type: none;

                                li {
                                    padding-bottom: 6px;
                                }
                            }
                            
                        }
                    }
                    #dj-wrapper{
                        width: 57.5vw;
                        .dj-image{
                            @include transition(right, 0.6s, linear);
                            width: 57.5vw;
                            @include skewedBorder(left, -28px, 1, 55px, $bgColor); // = direction, directionValue, zIndex, width, color
                            height: 20vh;
                            min-height: 130px;
                            max-height: 200px;
                            background-size: cover;
                            background-position: right center;
                            position: absolute;
                            right: -70vw;
                            &.info{
                                @include transition(opacity, 0.3s, linear);
                                color: white;
                                text-align: center;
                                right: 0;
                                line-height: 130px;
                                &.hide{
                                    opacity:0;
                                }
                            }
                            &.active{
                                right: 0;
                            }
                            &.inactive{
                                right: -80vw;
                            }
                        }
                    }
                    #system-info-wrapper{
                        float: left;
                        position: relative;
                        width: 100vw;

                        #downvote-button, #downvote-response-message{
                            min-width: $btnMinWidth;
                            height: $btnHeight;
                            line-height: $btnHeight;
                        }
                        #downvote-button{
                            padding-left: 2px;
                            position: relative;
                            background-color: $btnColorMiddle;
                            width: 10vw;
                            text-align: center;
                            @include skewedBorder(right, -10px, -1, 30px, $btnColorMiddle); // = direction, directionValue, zIndex, width, color
                            &.disabled{
                                background-color: $btnDownvoteDisabled;
                                @include skewedBorder(right, -10px, -1, 30px, $btnDownvoteDisabled); // = direction, directionValue, zIndex, width, color
                            }

                            img {
                                height: 26px;
                                padding: 17px 0 0 7px;
                            }
                        }
                        #downvote-response-message{
                            @include transition(left, 1.0s, linear);
                            background-color: $downvoteMessage;
                            position: absolute;
                            text-align: left;
                            top: 0;
                            bottom: 0;
                            @include skewedBorder(right, -10px, 0, 30px, $downvoteMessage); // = direction, directionValue, zIndex, width, color
                            left: -120vw;
                            right: 0;
                            width: 75vw;
                            padding-left: 25vw;
                            z-index: -2;
                            &.active{
                                left: 0;
                            }
                        }
                        #system-info-text{
                            position: absolute;
                            right: 0;
                            top: 0;
                            z-index: -3;
                            padding-right: 20px;
                            float: right;
                            color: $iconSystemInfo;
                            line-height: $regularLineHeight;
                            text-align: center;

                            img {
                                height: 17px;
                                opacity: 0.5;
                                padding-left: 5px;
                            }
                        }
                    }
                }

                #playlist-wrapper{
                    width: 100%;

                    ul {
                        list-style: none;
                        position: relative;

                        li {

                            &:nth-child(1) {
                                background-color: $playlistLine1;
                            }

                            &:nth-child(2) {
                                background-color: $playlistLine2;
                            }

                            &:nth-child(3) {
                                background-color: $playlistLine3;
                            }
                            
                            &:nth-child(4) {
                                background-color: $playlistLine4;
                            }
                            
                            &:nth-child(5) {
                                background-color: $playlistLine5;
                            }
                        }
                    }

                    .playlist {
                        width: 100%;
                        height: 52px;

                        .playlist-button {
                            padding: 18px 28px 0 10px;
                            height: 34px;
                            float: right;
                            position: relative;

                            img {
                                position: relative;
                                width: 16px;
                                z-index: 100;
                            }
                        }

                        .line-wrapper {
                            position: relative;

                            .line-clickfield {
                                width: 100%;
                                height: 52px;
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                z-index: 50;
                            }

                            .progressbar {
                                // @include transition(width, 1s, linear);
                                height: 52px;
                                background-color: $btnColorDark;
                                position: absolute;
                                left: -20px;
                                top: 0;
                                bottom: 0;
                                @include skewedBorder(right, -11px, 0, 20px, $btnColorDark);
                            }

                            .line-text {
                                padding: 18px 10px 0 16px;
                                color: $playlistText;
                                float: left;
                                position: relative;
                            }

                            .line-title {
                                padding: 18px 0 0 6px;
                                color: white;
                                float: left;
                                position: relative;
                                max-width: 50vw;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                height: 25px;
                                white-space: nowrap;
                            }
                        }

                        .playlist-button-wrapper {
                            position: absolute;
                            @include transition(right, 0.25s, linear);
                            right: -55px;
                            
                            .delete-button {
                                z-index: 100;
                                background-color: $btnColorDark;
                                @include skewedBorder(left, -10px, 100, 20px, $btnColorDark);
                            }

                            .swapup-button {
                                display: none;
                                z-index: 90;
                                background-color: $btnColorMiddle;
                                @include skewedBorder(left, -10px, 90, 20px, $btnColorMiddle);
                            }
                            
                            .swapdown-button { 
                                display: none;
                                z-index: 80;
                                background-color: $btnColorLight;
                                @include skewedBorder(left, -10px, 80, 20px, $btnColorLight);

                                img {
                                    transform: rotate(180deg);
                                }
                            }

                            &.showSwapUpClass {
                                right: -109px;

                                .swapup-button {
                                    display: block;
                                }
                            }

                            &.showSwapDownClass {
                                right: -109px;

                                .swapdown-button {
                                    display: block;
                                }

                            }

                            &.showSwapUpClass.showSwapDownClass {
                                right: -163px;
                            }

                        }

                        #upload-wrapper{
                            float: right;

                            .browse-button {
                                z-index: 100;
                                background-color: $btnColorMiddle;
                                @include skewedBorder(left, -10px, 100, 20px, $btnColorMiddle);
                                padding-right: 18px;

                                img {
                                    padding-top: 3px;
                                }
                            }

                            .cancel-button {
                                z-index: 90;
                                background-color: $btnColorDark;
                                @include skewedBorder(left, -10px, 90, 20px, $btnColorDark);
                                padding-right: 18px;
                            }

                            .upload-button {
                                z-index: 80;
                                background-color: $btnColorMiddle;
                                @include skewedBorder(left, -10px, 80, 20px, $btnColorMiddle);
                            }
                        }

                        .empty-field {
                            display: none;

                            &.showUploadClass {
                                display: block;
                            }
                        }

                        .hide{
                            display: none;

                            &.showUploadClass {
                                display: block;
                                opacity: 0.7;
                            }
                        }

                        &.activePlaylist {

                            .playlist-button-wrapper, .playlist-button-wrapper.showSwapUpClass.showSwapDownClass {
                                right: 0;
                            }
                        }

                    }
                }
            }

            //  settings site
            // -------------------------------------
            #settings{
                width: 100%;

                .image-wrapper {
                    display: block;
                    width: 100vw;
                    position: relative;

                    .image-text-wrapper {
                        float: left;
                        width: 25vw;
                        height: 30vh;
                        position: relative;
                        background-color: $mainColorLight;
                        @include skewedBorder(right, -27px, 1, 90px, $mainColorLight);

                        .info-text {
                            color: $white;
                            padding: 16px 0 0 16px;
                        }
                    }

                    .image-wrapper {
                        float: left;
                        width: 75vw;
                        height: 30vh;

                        .dj-image {
                            background-position: right center;
                            background-size: cover;
                            display: block;
                            height:30vh;
                            width: 75vw;
                        }
                    }
                }

                .image-text {
                    float: left;
                    height: 52px;
                    width: 100vw;
                    position: relative;
                    background-color: $mainColorDark;

                    .progressbar {
                        width: 0vw;
                        height: 52px;
                        background-color: $btnColorDark;
                        position: absolute;
                        left: -20px;
                        top: 0;
                        bottom: 0;
                        @include skewedBorder(right, -11px, 0, 20px, $btnColorDark);
                    }

                    .image-name {
                        position: absolute;
                        color: $white;
                        padding: 16px 0 0 16px;
                    }
                }

                #image-upload-wrapper {
                    position: absolute;
                    right: 0;

                    #image-control-wrapper, #trigger-upload-image, #upload-image-control-wrapper {
                        float: right;
                    }

                    .image-button {
                        padding: 16px 28px 0 10px;
                        height: 36px;
                        float: right;
                        position: relative;

                        img {
                            position: relative;
                            width: 18px;
                            z-index: 100;
                        }
                    }

                    .browse-button {
                        background-color: $btnColorMiddle;
                        @include skewedBorder(left, -10px, 100, 20px, $btnColorMiddle);
                    }

                    .upload-button {
                        background-color: $btnColorMiddle;
                        @include skewedBorder(left, -10px, 100, 20px, $btnColorMiddle);
                    }

                    .cancel-button {
                        background-color: $btnColorDark;
                        @include skewedBorder(left, -10px, 100, 20px, $btnColorDark);

                    }

                    .delete-button {
                        background-color: $btnColorDark;
                        @include skewedBorder(left, -10px, 100, 20px, $btnColorDark);
                    }

                }

                .hide{
                    display: none;
                }
            }
        }
    }
}





