// -------------------------------------
//  MIXINS
// -------------------------------------
@mixin transition($property, $duration) {
    -webkit-transition: $property $duration;
    -moz-transition: $property $duration;
    -ms-transition: $property $duration;
    -o-transition: $property $duration;
    transition: $property $duration;
}

// -------------------------------------
//  COLORS
// -------------------------------------


// -------------------------------------
//  DEFAULT STYLES
// -------------------------------------
* {
    padding: 0;
    margin: 0;
}

[v-cloak] { 
    display: none;
}

.clear{
    padding: 0;
    margin: 0;
    display: initial;
    float: initial;
}

// -------------------------------------
//  SITE CHANGES
// -------------------------------------

.view {
    position: absolute;
    opacity: 1;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.v-enter {
    opacity: 0;
    -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0);
}

.v-leave {
    opacity: 0;
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
}


// -------------------------------------
//  CUSTOM STYLES
// -------------------------------------

// default structure
#app{

    //  initalize app
    // -------------------------------------
    #inital-loader-wrapper{
        // position: fixed; // uncomment if app is production ready
        z-index: 9999;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        #inital-loader{
            text-align: center;
            width: 200px;
            height: 100px;
            position: absolute;
            top: 40%;
            left: 50%;
            margin-left: -100px;
        }
        &.fadeOut{
            @include transition(all, 0.6s);
            visibility: hidden;
            opacity: 0;
        }
    }

    //  navigation
    // -------------------------------------
    ul#navigation{
        list-style-type: none;
        background-color: blue;
        height: 50px;
        li{
            float:left;
            a{
                height: 50px;
                min-width: 50px;
                line-height: 50px;
                span{
                    &.icon{
                        float: left;
                        width: 50px;
                        background: green;
                        text-align: center;
                    }
                    &.icon-info{
                        float: left;
                        overflow: hidden;
                        display: block;
                        width: 0;
                    }
                }
                &.active, &.inactive{
                    span {
                        &.icon, &.icon-info{
                            background-color: gray;
                        }
                        &.icon-info{
                            @include transition(width, 0.4s);
                            width: 80px;
                        }
                    }
                }
                &.inactive{
                    background-color: green;
                    span {
                        &.icon, &.icon-info{
                            background-color: green;
                        }
                        &.icon-info{
                            width: 0px;
                        }
                    }
                }

            }
        }
    }

    //  home site
    // -------------------------------------
    #home{

        #currently-playing{
            display: block;
            width: 260px;
            #dj-wrapper, #info-track-wrapper, #downvote-wrapper, #system-info-wrapper{
                float: left;
                display: block;
            }
            #info-track-wrapper{
                padding: 15px;
                background: lightgray;
                width: 100px;
                height: 100px;
            }
            #dj-wrapper{
                #dj-image{
                    width: 130px;
                    height: 130px;
                    display: block;
                    background-size: cover;
                }
            }
            #downvote-wrapper{
                background-color: yellow;
                width: 130px;
                line-height: 50px;
                text-align: center;
            }
            #system-info-wrapper{
                background-color: brown;
                width: 130px;
                line-height: 50px;
                text-align: center;
            }

        }

    }

    //  settings site
    // -------------------------------------
    #settings{
        width: 260px;
        #dj-wrapper, #upload-wrapper{
            float: left;
            display: block;
        }
        #dj-wrapper{
            #dj-image{
                width: 130px;
                height: 130px;
                display: block;
                background-size: cover;
            }
        }
        #upload-wrapper{
            padding: 15px;
            background: lightgray;
            width: 100px;
            height: 100px;
        }
        #progress-wrapper{
            position: absolute;
            left: 5px;
            right: 5px;
            top: 5px;
            bottom: 5px;
            border-radius: 10px;
            border: 1px solid gray;
            background-color: #ffffff;
        }
        .hide{
            display: none;
        }
    }

}





