// -------------------------------------
//  MIXINS
// -------------------------------------
@mixin transition($property:all, $duration:0.5s, $timing:ease-in){
    -webkit-transition: $property $duration $timing;
    -moz-transition: $property $duration $timing;
    -ms-transition: $property $duration $timing;
    -o-transition: $property $duration $timing;
    transition: $property $duration $timing;
}

@mixin translate3d($x:30px, $y:0, $z:0){
    -webkit-transform:translate3d($x, $y, $z);
    -moz-transform:translate3d($x, $y, $z);
    -ms-transform:translate3d($x, $y, $z);
    -o-transform:translate3d($x, $y, $z);
    transform:translate3d($x, $y, $z);
}

@mixin skewedBorder($direction:right, $valueDirection:-10px, $zIndex:-1, $width:300px, $color:$mainColorDark){
    &:before{
        content: "";
        position: absolute;
        background: $color;
        z-index: $zIndex;
        top:0;
        @if $direction == "right" {
            right: $valueDirection;
            width: $width;
        } @else if $direction == "left" {
            left: $valueDirection;
            width: $width;
        }
        bottom: 0;
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
        transform: skew(-20deg);
    }
}

// -------------------------------------
//  COLORS
// -------------------------------------
$white: #ffffff;
$mainColorDark: #009bb2;  // dark cyan
$mainColorLight: #33afc1;  // light cyan
$bgColor: #17404d; // background
$btnColorLight: #ffcc00; // orange light
$btnColorDark: #ffa200; // orange light
$btnDownvoteDisabled: #77ced4;
$iconSystemInfo: #637f88;
$downvoteMessage: #ffffff;


// -------------------------------------
//  scale units
// -------------------------------------
$regularLineHeight: 53px;
$btnHeight: 53px;
$btnMinHeight: 53px;
$btnWidth: 40px;
$btnMinWidth: 40px  ;

// -------------------------------------
//  DEFAULT STYLES
// -------------------------------------
* {
    padding: 0;
    margin: 0;
}

[v-cloak] { 
    display: none;
}

.clear{
    padding: 0;
    margin: 0;
    display: initial;
    float: initial;
}

// -------------------------------------
//  CLEARFIX
// -------------------------------------

.clearfix {
    display: inline-block;
    &:after{
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}

// -------------------------------------
//  SITE CHANGES
// -------------------------------------

.view {
    position: absolute;
    opacity: 1;
    @include transition(all, 0.3s, ease-in);
}

.v-enter {
    opacity: 0;
    // @include translate3d(30px, 0, 0);
}

.v-leave {
    opacity: 0;
    // @include translate3d(-30px, 0, 0);
}


// -------------------------------------
//  CUSTOM STYLES
// -------------------------------------

body{
    background-color: $bgColor;

    // default structure
    #app{
        &.night{

            position: fixed;
            top: 0;
            bottom: 0;
            overflow-y: auto;
            overflow-x: hidden;
            right: 0;
            left: 0;
            width: 100vw;

            //  initalize app
            // -------------------------------------
            #inital-loader-wrapper{
                position: fixed; // uncomment if app is production ready
                z-index: 9999;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $bgColor;
                color: $white;
                #inital-loader{
                    text-align: center;
                    width: 200px;
                    height: 100px;
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    margin-left: -100px;
                }
                &.fadeOut{
                    @include transition(all, 0.6s, linear);
                    visibility: hidden;
                    opacity: 0;
                }
            }

            //  navigation
            // -------------------------------------
            ul#navigation{
                list-style-type: none;
                height: $btnHeight;
                background-color: $btnColorDark;
                li{
                    float:left;
                    background-color: $btnColorLight;
                    position: relative;
                    a{
                        height: $btnHeight;
                        line-height: $btnHeight;
                        padding-right: 20px;
                        span{
                            &.icon{
                                float: left;
                                width: 35px;
                                text-align: center;
                            }
                            &.icon-info{
                                float: left;
                                overflow: hidden;
                                display: block;
                                width: 0;
                            }
                        }
                        &.active, &.inactive{
                            span {
                                &.icon-info{
                                    @media only screen and (min-width: 300px) {
                                        @include transition(width , 0.3s); 
                                        width: 105px;
                                    }
                                }
                            }
                        }
                        &.inactive{
                            span {
                                &.icon-info{
                                    width: 0px;
                                }
                            }
                        }
                    }
                    &:nth-child(1){
                        background-color: $mainColorDark;
                        @include skewedBorder(right, -9px, 0, 20px, $btnColorLight); // = direction, directionValue, zIndex, width, color
                        padding-left: 5px;
                        a{
                            &.active{
                                span{
                                    &.icon-info{
                                        @media only screen and (min-width: 320px) {
                                            width: 45.9vw;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(2){
                        background-color: $btnColorLight;
                        @include skewedBorder(right, -9px, 0, 20px, $btnColorDark); // = direction, directionValue, zIndex, width, color
                    }
                    &:nth-child(3){
                        background-color: $btnColorDark;
                    }
                }
            }

            //  home site
            // -------------------------------------
            #home{
                width: 100%;
                #currently-playing{
                    display: block;
                    width: 100vw;
                    margin-bottom: 10px;
                    #info-track-wrapper, #dj-wrapper{
                        min-height: 130px;
                        max-height: 200px;
                        height: 20vh;
                        float: left;
                        position: relative;
                    }
                    #info-track-wrapper{
                        width: 42.5vw;
                        background-color: $mainColorLight;
                        @include skewedBorder(right, -27px, 3, 60px, $mainColorLight); // = direction, directionValue, zIndex, width, color
                        #info-track{
                            position: absolute;
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            z-index: 2;
                            margin: 16px;
                        }
                    }
                    #dj-wrapper{
                        width: 57.5vw;
                        .dj-image{
                            @include transition(right, 0.6s, linear);
                            width: 57.5vw;
                            @include skewedBorder(left, -28px, 1, 55px, $bgColor); // = direction, directionValue, zIndex, width, color
                            height: 20vh;
                            min-height: 130px;
                            max-height: 200px;
                            background-size: cover;
                            background-position: right center;
                            position: absolute;
                            right: -70vw;
                            &.info{
                                @include transition(opacity, 0.3s, linear);
                                color: white;
                                text-align: center;
                                right: 0;
                                line-height: 20vh;
                                &.hide{
                                    opacity:0;
                                }
                            }
                            &.active{
                                right: 0;
                            }
                            &.inactive{
                                right: -80vw;
                            }
                        }
                    }
                    #system-info-wrapper{
                        float: left;
                        position: relative;
                        width: 100vw;

                        #downvote-button, #downvote-response-message{
                            min-width: $btnMinWidth;
                            height: $btnHeight;
                            line-height: $btnHeight;
                        }
                        #downvote-button{
                            padding-left: 2px;
                            position: relative;
                            background-color: $btnColorLight;
                            width: 10vw;
                            text-align: center;
                            @include skewedBorder(right, -10px, -1, 30px, $btnColorLight); // = direction, directionValue, zIndex, width, color
                            &.disabled{
                                background-color: $btnDownvoteDisabled;
                                @include skewedBorder(right, -10px, -1, 30px, $btnDownvoteDisabled); // = direction, directionValue, zIndex, width, color
                            }
                        }
                        #downvote-response-message{
                            @include transition(left, 1.0s, linear);
                            background-color: $downvoteMessage;
                            position: absolute;
                            text-align: left;
                            top: 0;
                            bottom: 0;
                            @include skewedBorder(right, -10px, 0, 30px, $downvoteMessage); // = direction, directionValue, zIndex, width, color
                            left: -120vw;
                            right: 0;
                            width: 75vw;
                            padding-left: 25vw;
                            z-index: -2;
                            &.active{
                                left: 0;
                            }
                        }
                        #system-info-text{
                            position: absolute;
                            right: 0;
                            top: 0;
                            z-index: -3;
                            padding-right: 20px;
                            float: right;
                            color: $iconSystemInfo;
                            line-height: $regularLineHeight;
                            text-align: center;
                        }
                    }
                }

                #playlist-wrapper{
                    display: none;
                    width: 260px;
                    height: 150px;
                    background-color: orange;

                    #upload-wrapper{
                        padding: 15px;
                        width: 100px;
                        height: 100px;
                    }
                    #progress-wrapper{
                        position: absolute;
                        left: 5px;
                        right: 5px;
                        top: 5px;
                        bottom: 5px;
                        border-radius: 10px;
                        border: 1px solid gray;
                        background-color: #ffffff;
                    }
                    .hide{ 
                        display: none;
                    }
                }

            }

            //  settings site
            // -------------------------------------
            #settings{
                width: 260px;

                button{
                    padding: 5px;
                    margin-bottom: 5px;
                }
                #dj-wrapper, #upload-wrapper{
                    float: left;
                    display: block;
                }
                #dj-wrapper{
                    #dj-image{
                        width: 130px;
                        height: 130px;
                        display: block;
                        background-size: cover;
                    }
                }
                #upload-wrapper{
                    padding: 15px;
                    background: lightgray;
                    width: 100px;
                    height: 100px;
                }
                #progress-wrapper{
                    position: absolute;
                    left: 5px;
                    right: 5px;
                    top: 5px;
                    bottom: 5px;
                    border-radius: 10px;
                    border: 1px solid gray;
                    background-color: #ffffff;
                }
                .hide{
                    display: none;
                }
            }
        }
    }
}





