[Unit]
Description=MusicMagnet Player Daemon
After=local-fs.target network.target multi-user.target

[Service]
Type=simple
User=musicmagnet
Group=musicmagnet
Nice=-10
ExecStart=/home/user/daemons/musicplayer.sh

[Install]
WantedBy=multi-user.target
